body {
    background-color: aliceblue;
}

header {
    font-size: 2.6rem;
    text-align: center;
    margin: 10px 0;
}

.btn-group>button {
    width: 100%;
}
.iptv{
    padding-top: 13px;
}
.iptv1{
    padding-top: 12px;
}

.OTT .layui-col-md6 {
    padding: 0;
}
.type-tittle-btn {
    margin-bottom: 5px;
    cursor: auto;
}
.select-grop {
    display: flex;
    align-items: center;
}