<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta name="renderer" content="webkit">
<meta http-equiv="refresh" content="1800">
<title>IPTV用户体验</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" href="../../css/index.css">
    <style>
        *{
            margin: 0; padding: 0;
        }
        .pCls{
            margin: 10px 0 30px 20px;
        }
        .selCls{
            width: 130px;
            height: 25px;
        }
    </style>
</head>
<body>
<p class="pCls">
    <select class="selCls"><option>省公司</option></select>
    <select class="selCls"><option>所有频道</option></select>
    <select class="selCls"><option>最近8小时</option></select>
</p>
<div id="iptvue" style="height: 300px;">
</div>
</body>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/echarts.min.js"></script>
<script src="../../js/iptv_ue.js"></script>
</html>
